@font-face {
    font-family: 'Megisha DEMO VERSION';
    src: url('MegishaDEMOVERSION.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Megisha DEMO VERSION';
    src: url('MegishaDEMOVERSION.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

